@{Layout = Request.IsAjaxRequest() ? null : "~/Views/Layouts/Default.Container.cshtml";}

@{
    var navigation = ViewData["MainNav"].ToStringOrEmpty();
    var footer = ViewData["MainFooter"].ToStringOrEmpty();
}

<header>
    <div class="wrapper">
        <a class="icon-logo" href="/">
            <span>Geeks</span>
        </a>
        @if (navigation.HasValue())
        {
        <nav>
            @await Component.InvokeAsync(navigation)
        </nav>
        }
        <span class="menu"><i></i><i></i><i></i></span>
    </div>
</header>

<main>
    <div class="wrapper">
        @RenderBody()
    </div>
</main>

<footer>
    <div class="wrapper">
        @if (footer.HasValue())
        {
        @await Component.InvokeAsync(footer)
        }
    </div>
</footer>

@if (!Request.IsAjaxRequest())
{
<script src="/lib/requirejs/require.js" data-main="/scripts/references.js?v=@GeneralSettings.ResourceVersion"></script>
}
@RenderSection("scripts", required: false)

@Html.DevCommandsWidget()
@Html.RegisterStartupActions()