$clients-carousel-background-color: darken(#fff, 10%);
$clients-carousel-item-width: 10rem;
$clients-carousel-item-height: 10rem;

[data-module="ClientsCarouselList"] {
    position: relative;
    overflow: hidden;
    height: $clients-carousel-item-height;
    background-color: $clients-carousel-background-color;

    .list-items {
        display: flex;
        flex-direction: row;
        padding: 0 4rem;

        .item {
            width: $clients-carousel-item-width;
            height: $clients-carousel-item-height;
            flex-shrink: 0;
            padding: 2rem 0;

            &.hiding,
            &.hided {
                opacity: 0;
            }

            &.hided.showing {
                opacity: 1;
            }

            .image {
                width: 100%;
                height: 100%;
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &.backward {
            .item {
                margin-left: calc(#{$clients-carousel-item-width} * -1);
                transition: margin-left 0.6s ease-in-out, opacity 0.3s ease-in-out;

                &.hiding {
                    margin-left: 0;
                }

                &.hided {
                    margin-left: 0;

                    &.showing {
                        margin-left: $clients-carousel-item-width;
                    }
                }
            }
        }

        &.forward {
            .item {
                transition: margin-left 0.6s ease-in-out, opacity 0.3s ease-in-out;

                &.hiding {
                    margin-left: calc(#{$clients-carousel-item-width} * -1);
                }

                &.hided {
                    margin-left: $clients-carousel-item-width;

                    &.showing {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .paging-icons {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, $clients-carousel-background-color 0%, transparent 15%, transparent 85%, $clients-carousel-background-color 100%);

        button {
            width: 4rem;
            height: 4rem;
            transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
            border: none;
            background-color: rgba(#fff, 0.75);
            outline: none;
            padding: 0;

            &.prev {
                border-radius: 0 50% 50% 0;
            }

            &.next {
                border-radius: 50% 0 0 50%;
            }

            &.busy {
                pointer-events: none;
                opacity: 0.25;
            }

            &:hover {
                cursor: pointer;
                background-color: #fff;
            }
        }
    }

    .empty-list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.5em;
    }
}
