[data-module="FeaturesTopList"] {
    .list-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
            width: 380px;
            padding: 2rem;
            text-align: center;

            h1 {
                margin: 0;
                font-weight: normal;
                font-size: 1.75em;
                color: lighten(#000, 40%);
            }

            p {
                margin: 1rem 0 0;
                font-size: 1.5em;
                line-height: 1.25em;
                color: lighten(#000, 50%);
            }
        }
    }

    .empty-list {
        font-size: 1.5em;
    }
}
